a {
	text-decoration: none;
}
/* navigation bar*/

nav {
	position: absolute;
	top: 0;
	right:0;
}

nav li {
	display: inline;
	margin: 10px;
}

nav li:nth-child(5){
	border:1px solid #0f66bd;
	border-radius: 2px;
	padding:5px 10px;
	background-color: #0f66bd;
	color:#ffffff;
	}




/* content of the page*/
#logo {
	position: relative;
	top: 100px;
	left:500px;
}

#search {
	border: 1px solid #d1d1e0;
	height: 40px;
	width: 550px;
	position: relative;
	top:100px;
	left: 450px;
}

#lucky {
	position: relative;
	top: 100px;
	left: 500px;
	margin-top: 50px;
}

#lucky li {
	display: inline;
	margin: 20px;
	padding: 10px;
	background-color: #efeff5;
	border-radius: 2px;
	color:#8282b0;

}

#language {
	position: relative;
	top: 120px;
	left: 500px;
}

#language a {
	display: inline;
	margin: 10px;
	
}

/* footer*/

footer {
	background-color: #efeff5;
	position: absolute;
	height: 50px;
	width: 100%;
	bottom: 0;
}

footer li{
	display: inline;
	margin: 20px;
}

#left {
	float: left;
}

#right {
	float: right;
}