a {
	text-decoration: none;
}

body {
	font-family: arial, sans-serif;
	font-size: small;
}
/* navigation bar*/

nav {
	position: absolute;
	top: 0;
	right:0;
}

nav li {
	display: inline;
	margin: 10px;
	color: #000000;
	
}

nav li a:hover, footer li a:hover {
	text-decoration: underline;
}



/* iniciar button*/

#btn {
	border:1px solid #4285f4;
	border-radius: 2px;
	padding:5px 10px;
	background-color: #4285f4;
	color:#ffffff;
}

#btn a {
	color: #ffffff;
	font-size: bold;
}

#btn a:hover {
	text-decoration: none;
}

#btn:active {
	background-color: #0d59a5;
}	

/* content of the page*/
#logo {
	position: relative;
	top: 100px;
	left:500px;
}

#search {
	border: 1px solid #d1d1e0;
	height: 40px;
	width: 550px;
	position: relative;
	top:100px;
	left: 450px;
}

#lucky {
	position: relative;
	top: 100px;
	left: 500px;
	margin-top: 50px;
}

#lucky li {
	display: inline;
	margin: 20px;
	padding: 10px;
	background-color: #f2f2f2;
	border-radius: 2px;
	color:#757575;
	font-weight: bold;

}

#lucky li:hover {
	border: 1px solid #d1d1e0;
	color: #000000;
}

#language {
	position: relative;
	top: 120px;
	left: 500px;

}

#language a {
	display: inline;
	margin: 10px;
	color: #1a0dab;
	
	
}

#language a:hover {
	text-decoration: underline;
}

/* footer*/

footer {
	background-color: #efeff5;
	position: absolute;
	height: 50px;
	width: 100%;
	bottom: 0;
}

footer li{
	display: inline;
	color: #666;
	margin: 20px;
}

footer a:active {
	color: #dd4b39;
}

#left {
	float: left;
}

#right {
	float: right;
}